* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-color {
  background-color: #d8eff7;
}

.right-heading {
  color: #074b70;
}
.btn-custom {
  border: 1px solid #9e9696;
  width: 98%;
}
.btn-custom2 {
  width: 2%;
}
.file-input-btn {
  width: 100%;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  right: 0;
  top: 0;
}
.logo-img {
  width: 10%;
}
.margin-left {
  margin-left: 18%;
}
.welcome-message {
  font-size: 25px;
  font-weight: 700;
}
.medium-image {
  width: 50px;
  cursor: pointer;
}
.form-container {
  width: 65%;
}
.small-image {
  width: 20px;
  cursor: pointer;
}

.image-in-input {
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 10;
}
.error-message {
  color: #dc3545;
  padding-left: 5px;
}
.active-category-div {
  background-color: white;
}
.height-main-container {
  height: 58vh;
}
.category-list-styles {
  height: 340px;
  overflow-y: scroll;
}
.sidebar-image {
  width: 15%;
}
.sidebar-heading {
  font-size: 150%;
}
.inherit-color {
  color: inherit;
}
.sidebar-icons {
  width: 7%;
}
.sidebar-font {
  font-size: 100%;
  color: #9e9696;
}
.active {
  background-color: #e9eaeb;
  color: #7474e9;
}
.dropdown-menu[data-bs-popper] {
  left: -158px;
  top: 53px;
}
.btn {
  border: none;
}
.btn-primary {
  background-color: #0066a7;
}
.navbar {
  background-color: #0066a7;
  height: 70px;
}
.table-checkbox-gap {
  gap: 7px;
}
.extra-small-image {
  width: 15px;
}
.navbar-image {
  width: 45px;
}
.underline-para {
  border: 1px solid #0066a7;
  width: 70px;
  margin-left: 30px;
}
.bg-menu-category {
  background-color: #f5f5f5;
}
.menu-category-image {
  width: 30px;
}
.menu-category-image-delete {
  width: 35px;
}
.menu-category-navigation-items {
  font-weight: 700;
  color: #81757d;
}
.menu-category-navigation-items-modifier {
  font-weight: 700;
  color: #81757d;
}
.menu-category-navigation-items-table {
  font-weight: 700;
  color: #81757d;
}
.active-nav-item {
  color: #0066a7;
}
.active-menu-item {
  font-weight: 700;
  color: #0066a7;
}
.font-blue {
  color: #0066a7;
}
.main-content-background {
  background-color: #f2f2f2;
  height: max(100%, 100vh);
  min-height: 100vh;
}
.margin-left-sidebar-element {
  padding-left: 10%;
}
.cursor-pointer {
  cursor: pointer;
}
.main-page-heading {
  color: #0066a7;
  margin-top: 1%;
  margin-left: 3%;
}
.search-box {
  width: 15%;
}
.input-group {
  width: 100%;
}
.input-group-menu {
  width: 10%;
  right: 10%;
}
.button-styles-nav {
  width: max-content !important;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 16px;
}

.button-styles {
  background-color: #0066a7;
  width: 100%;
  color: white;
  border: none;
}
.button-styles-header {
  background-color: #0066a7;
  color: white;
  border: none;
  width: max-content;
}
.button-styles-contrast {
  background-color: white;
  border: 1px solid #0066a7;
  width: 100%;
  color: #0066a7;
}
.back-button {
  background-color: white;
  border: none;
  margin-left: 26%;
}
td {
  word-break: break;
}
.btn {
  --bs-btn-hover-border-color: ;
}
.btn-contrast {
  background-color: white;
  border: 1px solid #0066a7;
  color: #0066a7;
}
.back-button-container {
  width: 8%;
}
.hamburger-image {
  width: 30px;
}
.offcanvas.offcanvas-start {
  width: 32%;
}
.form-container-create-user {
  color: white;
}
.mobile-search-input {
  width: 200px;
}
.search-input {
  padding-right: 1.8rem !important;
  height: 51px;
}
.add-item-button {
  padding: 0.8rem !important;
}
.anchor-tag {
  z-index: 100;
}
.table-name-image {
  width: 38px;
  margin-right: 6px;
}
.form-bg {
  background-color: #f8f9fa;
}
.delete-btn {
  border: none;
}
.pagination-dropdown {
  width: 50px;
}
.form-select {
  padding-left: 8px;
  padding-right: 8px;
  background-position: right 0.4rem center;
}
.image-inside-password {
  position: absolute;
  right: 20px;
  top: 28px;
  z-index: 10;
}
.color-head {
  color: #0066a7;
}
.color-head-order {
  color: #817d75;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  color: inherit;
}
.delete-styles {
  background-color: white;
  padding: 6px;
  border: 1px solid gray;
  color: #0066a7;
}
.active-user {
  background-color: #7bff00;
  color: #000000;
  padding: 5px 10px;
  border-radius: 12px;
}
.available-table {
  background-color: #198754;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
}
.occupied-table {
  background-color: #6c757d;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
}
.assigned-table {
  background-color: #80c83d;
  color: black;
  padding: 5px 10px;
  border-radius: 12px;
}
.running-table {
  background-color: #77b4e0;
  color: black;
  padding: 5px 10px;
  border-radius: 12px;
}
.inactive-user {
  background-color: #e24830;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
}
.form-check .form-check-input {
  float: none;
}
.form-check-input {
  height: 1.5em;
}
.form-switch .form-check-input {
  width: 2.9em;
}
.form-check-input {
  cursor: pointer;
}
.permission-checkbox {
  height: 1em;
}
.intermediate-checkbox {
  height: 1em;
  margin-right: 8px;
  margin-left: 8px;
}
.modal-footer {
  justify-content: center;
  border-top: none;
}
.modal-header {
  border-bottom: none;
}
@media screen and (max-width: 868px) {
  .sidebar-font {
    font-size: 68%;
  }
}
@media screen and (max-width: 768px) {
  .main-container {
    background: url("../images/dominos_background_mobile.jpg") center
      center/cover;
  }
  .right-heading {
    color: white;
  }
  .main-container {
    color: white;
  }
  .error-message {
    color: white;
  }
  .welcome-message {
    margin-left: 0;
  }
  .margin-left {
    margin-left: 0;
  }
}
@media screen and (max-width: 570px) {
  .offcanvas.offcanvas-start {
    width: 50%;
  }
}

@media screen and (max-width: 360px) {
  .menu-mobile-header-div {
    justify-content: center !important;
  }
  .long-text {
    font-size: 15px;
  }
}

/* dashboard styles */

.profile-image-border {
  border: 1px solid gray;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.tiles-image {
  width: 25px;
}
.tiles-image-border {
  width: 35px;
  height: 35px;
  border: 1px solid #0066a7;
  border-radius: 50%;
  /* padding: -5px; */
}
.tile-green {
  background: #87e287;
}
.tile-blue {
  background: #e1b2ee;
}
.tile-sky-blue {
  background: #abcfe3;
}
.tile-orange {
  background: #f7aea3;
}
.tiles-image-outer-border {
  width: 45px;
  height: 45px;
  background: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  padding: 5px;
}
.tile-heading {
  font-weight: 450;
}
.tile-paragraph {
  color: black;
}
.tile-group-2 {
  height: 200px;
}

@media screen and (min-width: 991px) {
  .tile-group-4 {
    width: 23%;
  }
  .tile-group-4-bottom {
    width: 23%;
  }
  .tile-group-2 {
    width: 47%;
  }
}
@media screen and (max-width: 990px) {
  .main-content-background {
    height: max (100%, 100vh);
    padding-bottom: 20px;
  }
}

/* Profile - sytles */
.image-bg-div {
  background: url(.~/images/profile_div_bg.jpg) center center/cover;
  width: 102%;
  position: relative;
  left: -15px;
  height: 43px;
  top: -15px;
}
.my-profile-image {
  width: 100px;
  height: 100px;
  position: relative;
  top: -42px;
  right: -23px;
}
.my-profile-heading-name {
  position: relative;
  left: 41px;
  top: -12px;
}

.cursor-none {
  cursor: not-allowed;
}

/* add items styles */
@media (min-width: 576px) {
  .modal-add-item {
    max-width: 80%;
  }
  .table-modal {
    max-width: 70%;
  }
  .customer-modal {
    max-width: 80%;
  }
  .qr-code-modal-width {
    max-width: 15%;
  }
  .customer-details-modal-width {
    max-width: 30%;
  }
  .customer-review-modal-width {
    max-width: 25%;
  }
  .order-comment-modal-width {
    max-width: 30%;
  }
}

@media (min-width: 768px) {
  .modal-add-item {
    max-width: 70%;
  }
  .table-modal {
    max-width: 55%;
  }
  .customer-modal {
    max-width: 65%;
  }
}
@media (min-width: 1000px) {
  .modal-add-item {
    max-width: 70%;
  }
  .table-modal {
    max-width: 45%;
  }
  .customer-modal {
    max-width: 55%;
  }
}
@media (min-width: 1200px) {
  .modal-add-item {
    max-width: 70%;
  }
  .table-modal {
    max-width: 35%;
  }
  .customer-modal {
    max-width: 50%;
  }
}

.form-flex-switch {
  width: 4.1em !important;
  height: 2.5em;
}

.bg-light-green {
  background: #fdf5e6;
}

.add-item-font {
  font-size: 20px;
  font-weight: 600;
}

.add-item-image {
  width: 25px;
}

/* multiselect dropdown css */

:root {
  --primary-color: #007bff;
  --hover-color: #0056b3;
  --border-color: #ccc;
  --background-color: #fff;
  --tag-background: #e0e0e0;
  --tag-delete-color: #999;
  --tag-delete-hover-color: #333;
}

.custom-multi-select {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
}

.selection-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--background-color);
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: var(--tag-background);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
}

.tag-delete {
  cursor: pointer;
  color: var(--tag-delete-color);
}

.tag-delete:hover {
  color: var(--tag-delete-hover-color);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.clear-all,
.dropdown-toggle {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0.25rem;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 14px;
}

.option:hover {
  background: #f0f0f0;
}

.option input[type="checkbox"] {
  margin: 0;
}

@media (min-width: 768px) {
  .bg-light-green {
    height: 440px;
    overflow-y: scroll;
  }
}

/* edit profile design changes */
#file-upload-div {
  left: -1px;
  top: 25px;
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 50%;
}

#cloud-icon {
  position: relative;
  top: -16px;
}

/* add modifier group modal styles */
.modal-add-modifier-group {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .modal-add-modifier-group {
    max-width: 70%;
  }
}
@media (min-width: 768px) {
  .modal-add-modifier-group {
    max-width: 50%;
  }
}

/* add modifier dropdown styles */
.dropdown-multiselect {
  position: relative;
  display: inline-block;
}
.dropdown-multiselect .dropdown-toggle {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  color: black;
}
.dropdown-menu li:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

/* loader css */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1ac7;
  /* opacity: 0.5; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #cec8f3;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

/* searchbox border */
.search-box {
  border: 1px solid gray;
}

/* label tag styling */
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  content: "";
  background-color: inherit;
  border-radius: var(--bs-border-radius);
}

/* start styles */
.star-container {
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.stars {
  display: flex;
  position: relative;
  color: white;
}

.stars i {
  text-shadow: 0 0 2px gold;
  -webkit-text-stroke: 1px gold;
}

.stars-fill {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: gold;
}

.stars-fill i {
  text-shadow: 0 0 2px gold;
  -webkit-text-stroke: 1px gold;
}

/* order details styles */
.custom-order-border {
  border: 1px solid #add8e6;
  padding: 2px 5px;
  background-color: #add8e6;
}

.fw-bold23 {
  font-weight: 500;
}

/* Customer Styles */
.custom-width-customers {
  width: 49.5%;
}

@media (max-width: 576px) {
  .custom-width-customers {
    width: 99%;
  }
}

/* order app navbar styles */
.custom-border-kot-navbar {
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.active-kot-navbar {
  background-color: #39a7ed;
}
.available-kot {
  border: 1px solid #d2cec6;
  background-color: #d2cec6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.selected-kot {
  border: 2px solid #80c83d;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.assigned-kot {
  border: 1px solid #80c83d;
  background-color: #80c83d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.running-kot {
  border: 1px solid #77b4e0;
  background-color: #77b4e0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.accordion-button::before {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  content: "";
  background-image: url("../images/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  /* transform: rotate(90deg);  */
}

.accordion-button:not(.collapsed)::before {
  transform: rotate(90deg); /* Open: pointing downward */
}

.accordion-button::after {
  display: none !important;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.small-image-kot {
  width: 12px;
  height: 12px;
}
.section-name {
  font-size: 25px;
  font-weight: 500;
  color: #0066a7;
}
.table-card {
  border: 1px solid #d2cec6;
  padding: 10px;
  width: 250px;
  height: 105px;
  cursor: pointer;
}
.table-card-kot-image {
  width: 25px;
}
.available-table-card {
  background-color: #fafafa;
}
.occupied-table-card {
  background-color: #f2faec;
}
.running-table-card {
  background-color: #e0f2ff;
}
.waiting-token-button-kot {
  background-color: white;
  border: 1px solid #0066a7;
  color: #0066a7;
  font-size: 16px;
  padding: 10px 15px;
}
.selected-table-card {
  border: 2px solid #80c83d;
}
/* waiting list styles */
.text-gray {
  color: #a1a9b3;
  font-size: 17px;
  font-weight: 500;
}
.gray-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #a1a9b3;
}
.border-line-blue {
  border: 1px solid #0066a7;
}
.active-waiting-list {
  color: #0066a7;
  font-weight: 650;
}
.text-blue-custom {
  color: #0066a7;
  font-weight: 500;
}
/* kot menu styles */
.active-kot-sidebar-item {
  background-color: #0066a7;
  color: white;
}
.right-border-custom {
  color: white;
  background-color: white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.nonveg-kot {
  background-color: #ff0000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.veg-kot {
  background-color: #008000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.vegan-kot {
  background-color: #ffa500;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.menu-item-kot-div {
  background-color: white;
  width: 275px;
  height: 100px;
  border: wheat;
  border-radius: 20px;
  position: relative;
}
.kot-menu-item-image-div {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 20px;
}
.border-kot-menu-item-image {
  border: 1px solid #d2cec6;
  border-radius: 50%;
}
.veg-menu-item-indicator {
  background: #008000;
  color: #008000;
  border-bottom-left-radius: 50%;
}
.top-right-border-veg {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 40px 40px 0;
  border-color: white green white white;
  border-radius: 0px 20px 0px 20px;
}
.top-right-border-nonveg {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 40px 40px 0;
  border-color: white red white white;
  border-radius: 0px 20px 0px 20px;
}
.top-right-border-vegan {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 40px 40px 0;
  border-color: white orange white white;
  border-radius: 0px 20px 0px 20px;
}
.search-box-kot-menu {
  width: 20%;
  height: min-content;
}
@media (max-width: 768px) {
  .search-box-kot-menu {
    width: 50%;
  }
}
/* menu styles (order info card) */
.bg-for-table-image {
  background: #cbe4f3;
}
.font-weight-bold {
  font-weight: 700;
}
.table-card-kot-menu-icon-border {
  border: 1.5px solid #0056b3;
  border-radius: 4px;
}
.border-kot-menu-item-card-order {
  border: 1px solid #d2cec6;
  border-radius: 4px;
}
.font-size-item-name {
  font-size: 16px;
}
.font-size-thead {
  font-size: 14px;
}
.font-big {
  font-size: 20px;
}
.modifer-card-add-item-kot {
  width: 150px;
  height: 70px;
  border: 1px solid gray;
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
}
.font-weight-bold-slight {
  font-weight: 600;
}
.selected-modifier {
  background-color: #d6ecfa;
}
.div-custom-accordian {
  background-color: #ffffff;
  border: 1px solid gray !important;
  border-radius: 10px !important;
  padding: 5px 10px;
}
.font-accordian {
  font-size: 14px !important;
}
.quantity-card-order-items {
  border: 1px solid gray;
  border-radius: 5px;
}
.font-accordian-head {
  font-size: 16px !important;
}
.font-tax-head {
  font-size: 16px !important;
  font-weight: 400;
}
.order-item-details {
  border-radius: 1px !important;
}
.bg-kot-card-top {
  background-color: #f0ecea;
}
.kot-card-header-font {
  color: #0066a7;
  font-size: 800 !important;
}
.box-kot-card-custom-border {
  border: 1px dashed gray;
}
.border-table-kot {
  border: 1px solid #c5bfb3;
}
.border-light-table-kot {
  border: 0.2px solid #dbdad8;
}
.quantity-div-border {
  border: 1.5px solid #0066a7;
  border-radius: 4px;
}
.width-custom-order-app-navbar-offcanvas {
  width: 40% !important;
}
.width-custom-order-app-categories-offcanvas {
  width: 30% !important;
}
@media (max-width: 576px) {
  .width-custom-order-app-categories-offcanvas {
    width: 50% !important;
  }
}
@media (max-width: 768px) {
  .width-custom-order-app-navbar-offcanvas {
    width: 60% !important;
  }
}
.active-mobile-navbar-order-app {
  background-color: #73a4c2;
  color: white;
}
.custom-border-kot-navbar-mobile {
  border: 1px solid #0066a7;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
@media (max-width: 1600px) {
  #thisIsSecondImportant {
    display: none;
  }
  #thisDivIsImportant {
    width: 100% !important;
  }
  .custom-eye-border {
    display: block !important;
    border: 1px solid black;
    height: max-content;
    border-radius: 50%;
  }
}
@media (min-width: 1600px) {
  .hide-order-details-icon {
    display: none !important;
  }

  #thisIsSecondImportant {
    width: 34% !important;
    display: block !important;
  }
  #thisDivIsImportant {
    /* width: 66% ; */
    display: block !important;
  }
}
.selected-table-waiting-list {
  background-color: #0066a7;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
}
.text-small {
  font-size: 14px;
}
.waiting-list-dashboard {
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 576px) {
  #ordersPageButtonsFirstRow {
    width: 90%;
  }
  #orderPageButtonsSecondRow {
    width: 90%;
  }
  #customersPageButtons {
    width: 90%;
  }
}
@media (min-width: 576px) {
  #orderPageButtonsSecondRow {
    width: 60%;
  }
}
@media (max-width: 1250px) {
  #orderPageButtonsSecondRow {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  #orderPageButtonsSecondRow {
    width: 90%;
  }
}
@media (max-width: 900px) {
  #orderPageButtonsSecondRow {
    width: 100%;
  }
}
.chart-container {
  width: 100%;
  height: 100%;
}
.h-47 {
  height: 47px !important;
}
.customer-details-modal-styles {
  height: 500px;
}
.n8n-chat-widget .chat-container {
  width: 350px !important;
  right: 20px !important;
}
@media (max-width: 400px) {
  .n8n-chat-widget .chat-container {
    right: 5px !important;
  }
}
.w-61 {
  width: 61.5% !important;
}
.w-65 {
  width: 65% !important;
}
@media (max-width: 576px) {
  .w-61 {
    width: 100% !important;
  }
  .w-65 {
    width: 90% !important;
    margin-top: 10px;
  }
}